@charset "UTF-8";

#primeiroSlogan{
    background-image: linear-gradient(to right, #30303dfd 55%, #30303d00 100%), url(/imagens/primeiroSlogan/background-primeiroslogan.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    height: 565px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 100px;
    justify-content: center;
}

#primeiroSlogan h1{
    color: white;
    font-size: 50px;
    width: 800px;
}

#primeiroSlogan h2{
    color: white;
    opacity: 0;
    margin: 0px;
    padding: 0px;
    font-weight: 100;
    font-size: 35px;
}
#primeiroSlogan h3{
    color: rgb(165, 165, 165);
    opacity: 0;
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    font-size: 20px;
}


.h1slide{
    animation: slideRight 1s ease-in-out forwards;
    
}
.h2slide{
    animation: slideDown 1s ease-in-out forwards;
    animation-delay: 2s;
}
.h3slide{
    animation: slideDown 1s ease-in-out forwards;
    animation-delay: 3s;
}

#primeiroSlogan a{
    display: block;
    width: 200px;
}

#quemSomosBotao{
    height: 50px !important;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-delay: 4s;
    opacity: 0;
}

#quemSomosDiv{
    margin-top: 60px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
  
@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100%); 
    }
    100% {
        opacity: 1;
        transform: translateX(0); 
    }
  }
  @keyframes slideDown {
    0% {
        transform: translateY(100%); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
  }

  .animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 34px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: white;
    box-shadow: 0 0 0 2px white;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button svg {
    position: absolute;
    width: 24px;
    fill: white;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .arr-1 {
    right: 16px;
  }
  
  .animated-button .arr-2 {
    left: -25%;
  }
  
  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
  }
  
  .animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .animated-button:hover .arr-2 {
    left: 16px;
  }
  
  .animated-button:hover .text {
    transform: translateX(12px);

  }
  
  .animated-button:hover svg {
    fill: #212121;
  }
  
  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px white;
  }
  
  .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }


@media screen and (max-width: 1440px) {

    #primeiroSlogan{
        padding-left: 80px;
    }

    #primeiroSlogan h1{
        font-size: 2.8vw;
        width: 50%;
    }
    
    #primeiroSlogan h2{
        color: white;
        opacity: 0;
        font-weight: 300;
        font-size: 2vw;
    }
    #primeiroSlogan h3{
        color: rgb(165, 165, 165);
        opacity: 0;
        margin: 0px;
        padding: 0px;
        font-weight: 300;
        font-size: 1.3vw;
    }

}

@media screen and (max-width: 1250px) {
    #primeiroSlogan{
        background-image: linear-gradient(to right, #30303dfd 60%, #30303d00 100%), url(/imagens/primeiroSlogan/background-primeiroslogan.png);
        height: 480px;
        
    }

    #primeiroSlogan h3{
        font-size: 1.6vw;
    }

    #primeiroSlogan a{
        width: 180px;
    }

    #quemSomosDiv{
        margin-top: 25px;
    }
    
    #quemSomosBotao{
        height: 45px !important;
        width: 180px;
        justify-content: start;
    }

    .animated-button{
        padding: 10px 15px;
        font-size: 14px;
        width: 160px;
    }

    .animated-button:hover .arr-2 {
        left: 6px;
      }
      
      .animated-button:hover .text {
        transform: translateX(23px);
    
      }
   
}

@media screen and (max-width: 915px) {
    #primeiroSlogan{
        background-image: linear-gradient(to right, #30303dfd 50%, #30303d00 100%), url(/imagens/primeiroSlogan/background-primeiroslogan.png);
        background-position: 90%;
        padding-left: 40px;
    }

    #primeiroSlogan h1{
        width: 45%;
        font-size: 2.7vw;
    }


}

@media screen and (max-width: 828px) {
    #primeiroSlogan{
        height: 400px;
        background-image: linear-gradient(to right, #30303dfd 55%, #30303d00 100%), url(/imagens/primeiroSlogan/background-primeiroslogan.png);
    }

    #primeiroSlogan h1{
        width: 50%;
        
    }
    
    #primeiroSlogan h2{
        font-size: 2.2vw;
    }

    #primeiroSlogan h3{
        font-weight: 400;
        font-size: 1.8vw;
    }

    #quemSomosDiv{
        margin-top: 40px;
    }
    
    #quemSomosBotao{
        height: 40px !important;
        width: 170px;
        
    }

    .animated-button{
        padding: 8px 26px;
        font-size: 12px;
    }
}


@media screen and (max-width: 669px) {
    
    #primeiroSlogan{
        height: 300px;
    }

    #primeiroSlogan h1{
        width: 50%;
        font-size: 2.9vw;
        
    }
    
    #primeiroSlogan h2{
        font-size: 2.4vw;
        
    }

    #primeiroSlogan h3{
        font-weight: 300;
        font-size: 2.2vw;
    }
    

}

@media screen and (max-width: 425px) {
    
    #primeiroSlogan{
        background-image: linear-gradient(to top, #30303df1 50%, #30303d00 100%), url(/imagens/primeiroSlogan/Iustitia.png);
        background-position: 100%;
        background-size: cover;
        height: 425px;
        display: flex;
        flex-direction: column;
        padding: 0 20px 70px 20px;
        justify-content: end;
    }

    #primeiroSlogan h1{
        font-size: 5.5vw;
        width: auto;
    }
    
    #primeiroSlogan h2{
        margin: 0px;
        padding: 0px;
        font-weight: 300;
        font-size: 4.5vw;
        
    }
    #primeiroSlogan h3{
        font-weight: 300;
        font-size: 3.5vw;
    }


    #quemSomosDiv{
        margin-top: 25px;
        
    }
    
    #quemSomosBotao{
        height: 25px !important;
        width: 150px;
        
    }

    .animated-button{
        padding: 5px 24px;
        font-size: 12px;
    }

    .animated-button svg{
        transform: scale(0.8) translateX(15px);
        
    }


}

@media screen and (max-width: 375px) {
    
    #primeiroSlogan{
        height: 375px;
        padding-bottom: 50px;
        overflow: hidden;
    }
    #primeiroSlogan h1{
        font-size: 5.4vw;
    }

  

    #quemSomosBotao{
        height: 10px !important;
        width: 130px;
        
    }

    .animated-button{
        padding: 2px 15px;
        font-size: 10x;
    }

    .animated-button svg{
        transform: scale(0.8) translateX(15px);
        
    }
    #primeiroSlogan a {
        width: 130px;
    }

}

@media screen and (max-width: 320px) {
    
    #primeiroSlogan{
        height: 320px;
        padding-bottom: 40px;
    }

   

    #quemSomosBotao{
        height: 8px !important;
        width: 120px;
        
    }

    .animated-button{
        padding: 2px 14px;
        font-size: 11px;
    }

    .animated-button svg{
        transform: scale(0.7) translateX(12px);
        
    }
    #primeiroSlogan a {
        width: 120px;
    }

}