@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,300&display=swap');


/*header {
  position: fixed;
  bottom: 1;
  left: 0;
  width: 100%;
  background-color: #0B3660;
  padding: 10px; 
  z-index: 1000; 
}*/


::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5; 
}

::-webkit-scrollbar-thumb {
  background-color: #0B3660; 
  border-radius: 5px; 
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5; 
}


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', Arial, sans-serif;
    user-select: none;

}


a{
    text-decoration: none;
}

#barraNavegacao{
    background-color: #0B3660;
}

#navbarTop{
    height: 150px;
}

#navbarTopConteudos{
    
    height: 100%;
}


#idioma{
  font-size: larger;
}

#idioma:hover{
  color: #668CAB;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.123);
}

.navbar-toggler {
  border: none;
  outline: none;
  color: #ffffff;
}

.navbar-toggler:focus {
  box-shadow: none;
}



#navbarNavDesktop .nav-item{
  margin: 0px 30px;
  height: 50px;
  position: relative;
  text-decoration: none;
  
}

.fixado{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0B3660;
  padding: 10px;
  z-index: 1000;
}

#navbarNavDesktop .nav-item::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; 
  height: 2px; 
  background-color: #ffffff;
  border-radius: 5px; 
  box-shadow: 1px 1px 9px rgba(255, 255, 255, 0.1);;
  transition: width 0.3s ease;
}

#navbarNavDesktop #activenavitem::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100% !important; 
  height: 2px; 
  background-color: #ffffff;
  border-radius: 5px; 
  box-shadow: 1px 1px 9px rgba(255, 255, 255, 0.1);;
  transition: width 0.3s ease;
}


#navbarNavDesktop a{
  font-size: 100%;
  
}

#navbarNavDesktop a:hover{
  text-shadow: 1px 1px 9px rgba(255, 255, 255, 0.1);
}


#navbarNavDesktop .nav-item:hover::before{
  width: 100%
}



#navbarNav{
  width: 50%;
  background-color: #0b3660;
  border: none;
}


#navbarNav .nav-item{
  margin: 20px 0px;
  height: 50px;
  position: relative;
  text-decoration: none;
  width: 98.7%;
}

.nav-link{
  color: white;
  width: auto;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-link i{
  height: 24px;
  width: 25px;
}

#navbarNav ul{
  margin-top: 40px;
  width: 100%;
  text-align: end;
  padding-right: 15px;
}

#navbarNav img{
  margin-left: auto;
  margin-bottom: 15px;
}

#navbarNav .nav-link:hover{
  color: white;
}

#navbarNav .nav-link:active{
  transform: scale(0.9);
  color: white;
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition-duration: .5s;
}

.menuHamburguer{
  align-items: center;
  justify-content: center;
}

.bars {
  width: 70%;
  height: 3px;
  background-color: white;
  border-radius: 4px;
}

#bar2 {
  transition-duration: .8s;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}


#checkbox:checked + .toggle {
  transition-duration: .5s;
  transform: rotate(180deg);
}

@media screen and (max-width:2000px){
  .toggle{
    display: none;
  }
}

@media screen and (max-width:991px){

  .toggle{
    display: flex !important;
  }

  #blockToFixHeaderMobile{
    display: block;
}

#navbarTop{
  height: 100px;
  position: fixed;
  z-index: 11;
  background-color: #0B3660;
}
#navbarBot{
  display: none;
}
}

#blockToFixHeaderMobile{
  height: 99px;
  display: none;
}

@media screen and (max-width:425px){

  #navbarNav{
    width: 80%;
  }

  .logoHeader{
    margin: auto;
  }

  .colunaLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
  }

  .colunaLogo picture{
    width: auto;
    transform: scale(0.8) !important;

  }

  
}


@media screen and (max-width:320px){

  .logoHeader{
    transform: scale(0.8);
  }

  .bars{
    width: 100%;
  }


}