@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,300&display=swap');

footer{
    color: #b9b9b9;
    background-color: #0c0000eb;
    background-image: url('imagens/logos/branca137px.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    overflow: hidden;
}

.p-3 {
    padding: 0rem!important;
}

footer h5{
    color: white; 
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

footer h5::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px; 
    background-color: #0B3660;
    border-radius: 5px; 
    width: 15%;
}

footer ul{
    list-style-type: none;
    padding: 0px;
}

footer li{
    margin-top: 20px;
    text-align: start;
}

#numero1{
    margin-left: 10px;
}

#numero2{
    margin-top: 30px;
    margin-left: 30px;
}


#redes a{
    color: #b9b9b9;
    margin-right: 30px;
}


#redes span{
    font-size: x-large;
    transition: transform 0.5s ease;
}
#redes span:hover{
    transform: scale(1.2)
}

#horarioemail{
    padding-bottom: 20px;
}

#numero1,#numero2{
    padding: 0;
}

.gx-5{
    height: auto;
}


footer .fa-instagram:hover {
    color: #E1306C;
 }
 footer .fa-facebook:hover{
    color: #1877F2;
 }


 @media screen and (max-width: 2560px) {
    
    footer{
        background-size: 30%;
    }

 }

 
 @media screen and (max-width: 1440px) {
    
    footer{
        background-size: 50%;
    }

 }

 @media screen and (max-width: 1024px) {
    
    footer{
        background-size: 40%;
    }

 }

 @media screen and (max-width: 768px) {
    
    footer{
        background-size: 60%;
    }

 }

@media screen and (max-width: 425px) {
footer span, footer p, footer li{
    font-size: 14px;
}

footer{
    background-size: 80%;
}

}



