@charset "UTF-8";



#areasAtuacao{
    padding: 20px 170px;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.1);
    

}

.slideCard{
    animation: slideDown 1s ease-in-out forwards;
}

@keyframes slideDown {
    0% {
        transform: translateY(100%); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
  }

#areasAtuacao .card ::-webkit-scrollbar {
    width: 5px;
  }

#areasAtuacao .card ::-webkit-scrollbar-thumb {
background-color: #587288; 
border-radius: 5px; 
}
  

#areasAtuacao .card ::-webkit-scrollbar-track {
background-color: #363636; 
}
  

#areasAtuacao .col{
    max-width: 1200px;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr)); 
    height: 400px;
}

#areasAtuacao .row{

    justify-content: center;
    align-items: center;

}



.card {
    opacity: 0;
    overflow: visible;
    width: 300px;
    height: 381px;
    border: none;
    margin: auto;
    cursor: pointer;
  }

.card:hover .content{
    transform: translate(5px, -5px);
    box-shadow: 2px 6px 12px #0b356055;

}

.card:hover #setaDireitaCar, .card:hover .back-content span{
    transform: scale(1.1) translate(5px, -5px);
    text-shadow: 2px 6px 8px #0b356055;

}
  
  .content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 300ms;
    box-shadow: 2px 3px 7px #0b356050;
    border-radius: 5px;
  }
  
  .front, .back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .back {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .back::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 150px;
    height: 160%;


    background: linear-gradient(90deg, transparent, #0B3660, #0B3660, #0B3660, #0B3660, transparent);
  }
  
  .back-content {
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: white;
    border-radius: 5px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .back-content #saibaMais{
    display: flex;
    align-items: center;
    position: relative;
    top: 30%;
  }
  .back-content span{
    height: 20px;
    font-size: 12px;
    font-weight: 500;
    transition: all 300ms;

  }

  #setaDireitaCard{
    height: 20px;
    font-size: 16px;
    margin-left: 10px;
    transition: all 300ms;

  }
  .back-content i{
    margin-bottom: 20px;
    font-size: 50px;

  }
  
  
  
  @keyframes rotation_481 {
    0% {
      transform: rotateZ(0deg);
    }
  
    0% {
      transform: rotateZ(360deg);
    }
  }
  
  .front {
    transform: rotateY(180deg);
    color: white;
  }
  
  .front .front-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .front-content .badge {
    background-color: #000000c8;
    padding: 5px 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    width: fit-content;
    font-size: 18px;
  }
  
  .description {
    box-shadow: 2px 3px  5px #0000003c;
    width: 100%;
    max-height: 50%;
    background-color: #000000c8;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    overflow: auto;
  }
  
  
  
  .title p {
    width: 50%;
  }
  
  .card-footer {
    color: #ffffffda;
    margin: 0;
    font-size: 15px;
    font-weight: 700;
    text-align: justify;
    border: none;
    padding-bottom: 0px;
  }
  
  .front .img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  #areasAtuacao .circle {
    width: 140px;
    height: 140px;
    background-color: #587288;
    border-radius: 50%;
    position: relative;
    top: 0px;
    left: 0px;
    filter: blur(13px);
    animation: floating 3000ms infinite linear;
  }
  
  #areasAtuacao  #bottom {
    background-color: #0b3660;
    width: 300px;
    height: 300px;
    left: 70px;
    top: 40px;
    animation-delay: -800ms;
  }
  
  
  
.rotate{
    transform: rotateY(180deg) !important;
}

  @keyframes floating {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }


@media screen and (max-width: 1440px) {
    
    #areasAtuacao{
        
        padding: 20px 12%;
    }

}

@media screen and (max-width: 1224px) {
    
    #areasAtuacao{
        
        padding: 20px 5%;
    }

}

@media screen and (max-width: 1024px) {
    
    #areasAtuacao{
        padding: 20px 0;
    }
    .card{
        transform: scale(0.9);
    }

    .card:hover .content {
        transform: none;
      }

      
    
}



@media screen and (max-width: 947px) {
    #areasAtuacao{
        padding: 20px 20px;
    }

    .card {
        transform: scale(1);
        width: 237.3px;
        height: 301.75px;
    }

    .front-content .badge {
        background-color: #000000c8;
        padding: 5px 10px;
        border-radius: 10px;
        backdrop-filter: blur(2px);
        width: fit-content;
        font-size: 12px;
      }
      
      .card-footer {
        font-size: 10px;
      }

      .circle {
        top: 80px;
        left: 50px;
      }
      
      #bottom {

        left: 150px;
        top: -10px;

      }
      
      #right {
        
        left: 180px;
        top: -130px;

      }
      #left{
        top: 80px;
        left: 0px;
    
      }

    
}

@media screen and (max-width: 768px) {
   
    
    .back-content strong{
        font-size: 14px;
    }

    .card{
        width: 225px;
        height: 287px;
    }

    .back-content #saibaMais{
        top: 25%;
    }

    #areasAtuacao h1{
        margin-bottom: 0;
        margin-top: 30px;
    }

    #areasAtuacao .col{
        height: 326px;
    }
    
}

@media screen and (max-width: 767px) {
    #areasAtuacao .col{
        grid-template-columns: repeat(auto-fit, minmax(227px,1fr));
    }
}

@media screen and (max-width: 425px) {

    #tituloDivSlider{
        margin-bottom: 0px;
    }
    
}